<div>
    <a href="/movies" class="btn secundary">Go back</a>
    <h3>{{response.title}}</h3>
    <img src="{{response.image}}" alt="movie">
    <h2>{{response.director}}</h2>
    <h3>Stars</h3>
    <ul>
        <li>{{response.stars}}</li>
    </ul>
    <p>{{response.description}}</p>
    <p>{{response.showtimes}}</p>

</div>